<div th:fragment="bien">

<head>
<meta charset="UTF-8">
</head>

<!-- Bien modal -->

<div class="modal fade" id="exampleModal1-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
		   <!-- ============ heading =========== -->
			<div class="modal-header bg-gradient-danger text-gray-100 text-center">
				<h6 class="modal-title" id="exampleModal1-modal-lg">NOUVEAU BIEN</h6>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
			    </button>
		    </div>
		    <!-- ============ boby =========== -->
		    <form action="">
				<div class="modal-body">
					<!-- <div class="card">
						========== heading card ==========
						<div class="card-header">
							<label for="inputState">Informations générales</label>
						</div>
						========== body card ===========
						<div class="card-boby">
							
						</div>
					</div> -->
				<div class="container">
							 <div class="form-row">
							   <div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Telephone</span>
										</div>
										<input type="text" class="form-control" id="validationCustomUsername" placeholder="Telephone..." aria-describedby="inputGroupPrepend" name="Telephone" required>
										<div class="invalid-feedback">
										 Please choose a username.
										</div>
									</div>
								 </div>
							 </div>
							                                      <div class="col-sm-5 col-sm-offset-1">
                                         <div class="form-group">
                                            <label>City</label>
                                            <input name="cite" class="form-control" placeholder="New York..." required>
                                          </div>
                                    </div>
                                    <div class="col-sm-5">
                                         <div class="form-group">
                                            <label>Country</label><br>
                                             <select name="country" class="form-control">
                                                <option value="Afghanistan"> Afghanistan </option>
                                                <option value="Albania"> Albania </option>
                                                <option value="Algeria"> Algeria </option>
                                                <option value="American Samoa"> American Samoa </option>
                                                <option value="Andorra"> Andorra </option>
                                                <option value="Angola"> Angola </option>
                                                <option value="Anguilla"> Anguilla </option>
                                                <option value="Antarctica"> Antarctica </option>
                                                <option value="...">...</option>
                                            </select>
                                          </div>
                                    </div>
							
							</div>
				</div>
				<!-- ============ footer =========== -->
				<div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Save changes</button>
			    </div>
		    </form>					      
	    </div>
								      
     </div>
  </div>

</div>

  