<div th:fragment="modal">
<head>
<meta charset="utf-8">
</head>
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-gradient-danger text-gray-100">
          <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Sélectionnez  "déconnexion " ci-dessous si vous êtes prêt à mettre fin à votre session en cours.
        	<!--  <div th:replace="Fragment/body :: body"></div>-->
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" data-dismiss="modal">Annuler</button>
          <a class="btn btn-danger" th:href="@{/login?logout}">Déconnexion </a>
        </div>
      </div>
    </div>
  </div>
</div>