<div th:fragment="exmple">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<!-- Modal exampleModalCenter1-modal-lg-->
<div class="modal fade" id="exampleModal2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-gradient-danger text-gray-100 text-center">
        <h4 class="modal-title" id="exampleModalCenterTitle"><font face="Arial">NOUVELLE SOCIETE</font></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- debut -->
     																		   <form th:action=@{/_bien} method="post" class="needs-validation" novalidate>

																			   <div class="card">

																				   <div class="card-header">
																					   <label for="inputState"><h5>Informations générales</h5></label>
																					</div>

																				   <div class="card-body">
																				 
																						<div class="container">
																							<div class="form-row">
																								<div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																										  <div class="input-group">
																												<div class="input-group-prepend">
																												  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Company name</span>
																												</div>
																												<input type="text" class="form-control" id="validationCustomUsername" placeholder="Nom de la société..." aria-describedby="inputGroupPrepend" name="identSociete" required>
																												<div class="invalid-feedback">
																												  Please choose a username.
																												</div>
																										  </div>
																									</div>
																							</div><br>
																							
																							 <div class="form-row">

																									<div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																										  <div class="input-group">
																												<div class="input-group-prepend">
																												  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Company name</span>
																												</div>
																												<input type="text" class="form-control" id="validationCustomUsername" placeholder="Nom de la société..." aria-describedby="inputGroupPrepend" name="nom_societe" required>
																												<div class="invalid-feedback">
																												  Please choose a username.
																												</div>
																										  </div>
																									</div>
																									<div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																										  <div class="input-group">
																												<div class="input-group-prepend">
																												  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Patente</span>
																												</div>
																												<input type="file" class="form-control" id="validationCustomUsername" placeholder="" aria-describedby="inputGroupPrepend" name="patente" required>
																												<div class="invalid-feedback">
																												  Please choose a username.
																												</div>
																										  </div>
																									</div>
																							 </div><br>

																							  <div class="form-row">

																									<div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																										  <div class="input-group">
																												<div class="input-group-prepend">
																												  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Responsible name</span>
																												</div>
																												<input type="text" class="form-control" id="validationCustomUsername" placeholder="Nom de responsable..." aria-describedby="inputGroupPrepend" name="nom_Responsable" required>
																												<div class="invalid-feedback">
																												  Please choose a username.
																												</div>
																										  </div>
																									</div>

																									<div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																										  <div class="input-group">
																												<div class="input-group-prepend">
																												  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">CIN</span>
																												</div>
																												<input type="text" class="form-control" id="validationCustomUsername" placeholder="Identifiant..." aria-describedby="inputGroupPrepend" name="CIN" required>
																												<div class="invalid-feedback">
																												  Please choose a username.
																												</div>
																										  </div>
																								   </div>

																							   </div><br>

																							  <div class="form-row">

																									<div class="col-md-6 mb-6">
																										  <!-- <label for="validationCustomUsername">Username</label> -->
																										 <div class="input-group">
																											  <div class="input-group-prepend">
																												 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Activity</span>
																											  </div>
																											  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Activité de l'entreprise..." aria-describedby="inputGroupPrepend" name="Activite" required>
																											   <div class="invalid-feedback">
																											  Please choose a username.
																											   </div>
																										  </div>
																									</div>
																									<div class="col-md-6 mb-6">
																										  <!-- <label for="validationCustomUsername">Username</label> -->
																										  <div class="input-group">
																												<div class="input-group-prepend">
																												 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Status of the company</span>
																												</div>
																												  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Statut..." aria-describedby="inputGroupPrepend" name="Statut" required>
																												 <div class="invalid-feedback">
																													  Please choose a username.
																												 </div>
																										  </div>
																									</div>

																							  </div><br>

																						</div>
																				   </div>
																			   </div>
																			<!-- ========== card 2 contact =========== -->
																			   <div class="card">

																				  <div class="card-header">
																					<label for="inputState"><h5>Contact</h5></label>
																				  </div>

																				   <div class="card-body">
																					   <div class="container">

																						   <div class="form-row">

																								<div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																									 <div class="input-group">
																										 <div class="input-group-prepend">
																											 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Address 1</span>
																										  </div>
																										  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Adresse..." aria-describedby="inputGroupPrepend" name="Adresse" required>
																										   <div class="invalid-feedback">
																										  Please choose a username.
																										   </div>
																									  </div>
																								 </div>
																								 <div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																									  <div class="input-group">
																										   <div class="input-group-prepend">
																											 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Address 2</span>
																											</div>
																											  <input type="text" class="form-control" id="validationCustomUsername" placeholder="Adresse..." aria-describedby="inputGroupPrepend">
																											 <div class="invalid-feedback">
																												  Please choose a username.
																											  </div>
																										 </div>
																									 </div>
																						   </div><br>

																							<div class="form-row">

																								 <div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																										<div class="input-group">
																											<div class="input-group-prepend">
																											  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Telephone</span>
																											</div>
																											<input type="text" class="form-control" id="validationCustomUsername" placeholder="Telephone..." aria-describedby="inputGroupPrepend" name="Telephone" required>
																											<div class="invalid-feedback">
																											  Please choose a username.
																											</div>
																										</div>
																								 </div>

																								<div class="col-md-6 mb-6">
																									  <!-- <label for="validationCustomUsername">Username</label> -->
																									  <div class="input-group">
																											<div class="input-group-prepend">
																											  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Email</span>
																											</div>
																											<input type="email" class="form-control" id="validationCustomUsername" placeholder="Email..." aria-describedby="inputGroupPrepend" name="email" required>
																											<div class="invalid-feedback">
																											  Please choose a username.
																											</div>
																									  </div>
																								 </div>

																							</div><br>

																							<div class="form-row">

																								 <div class="col-md-6 mb-6">

																									 <div class="custom-file">
																										  <input type="file" class="custom-file-input" id="customFileLangHTML" name="contrat" required="required">
																										  <label class="custom-file-label" for="customFileLangHTML" data-browse="Document">Contrat signé scané...</label>
																									 </div>
																								 </div>
																								 <div class="col-md-6 mb-6">

																									 <div class="custom-file">
																										  <input type="file" class="custom-file-input" id="customFileLangHTML" name="Registre" required="required">
																										  <label class="custom-file-label" for="customFileLangHTML" data-browse="Document">Registre de commerce...</label>
																									 </div>
																								 </div>

																							 </div>

																					   </div>
																				   </div>
																			   </div><br>
																				
																				<div class="modal-footer">
																					 <div class="form-group">
																							<div class="form-check">
																								 <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
																								  <label class="form-check-label" for="invalidCheck">
																									Accepter les termes et conditions
																								  </label>
																								  <div class="invalid-feedback">
																									Accepter les termes et conditions
																								  </div>
																							</div>
																					  </div>
																					  <!-- <button class="btn btn-primary" type="submit">Enregistrer</button> -->
																					  <p><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit">
																						<i class="fas fa-plus-square text-white-50 text-gray-100"></i> Entregistrer
																					  </button></p>

																					<p><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="reset">
																						<i class="fas fa-window-close text-white-50 text-gray-100"></i> Annuler
																					  </button></p>
																				</div>
		 </form><br>
      <!-- fin -->
                       
    </div>
  </div>
</div>

</body>
</html>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<!-- 			
<form method="get" class="needs-validation" novalidate>
						     
			    <div class="modal-body">
								      
				    <div class="card">
						
						<div class="card-header">
							<label for="inputState">Informations générales</label>
						</div>
									    
						<div class="card-body">
							<div class="container">
									 	  
								<div class="form-row">
											  	
									<div class="col-md-6 mb-6">
										 <label for="validationCustomUsername">Username</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Type du local</span>
											</div>
															
											<select class="custom-select mr-sm-2" id="inputEmail5">
												<option selected>Appartement</option>
												<option value="1">Studio</option>
												<option th:each="p:${proplist}" th:value="${p.Nom_Responsable}" th:text="${p.Nom_Responsable}"></option>
											</select>
															 
											<div class="invalid-feedback">
											   Please choose a username.
											</div>
										  </div>
									</div>
												
									<div class="col-md-6 mb-6">
									    <label for="validationCustomUsername">Username</label>
									    <div class="input-group">
											<div class="input-group-prepend">
												 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Address</span>
											</div>
											 <input type="text" class="form-control" id="validationCustomUsername" placeholder="Adresse..." aria-describedby="inputGroupPrepend" required>
											 <div class="invalid-feedback">
											    Please choose a username.
											 </div>
										</div>
									</div>	
					  			   
								 </div><br>
												  
								<div class="form-row">
								
									<div class="col-md-6 mb-6">
										<label for="validationCustomUsername">Username</label>
									    <div class="input-group">
											 <div class="input-group-prepend">
												 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Ville</span>
											 </div>
															
											 <select class="custom-select mr-sm-2" id="inputEmail5">
												<option selected>Rabat</option>
												<option value="1">Sale</option>
												<option value="2">Autre...</option>
											 </select>
																 
											 <div class="invalid-feedback">
												 Please choose a username.
											 </div>
										 </div>
									</div>
									
									<div class="col-md-6 mb-6">
									    <label for="validationCustomUsername">Username</label>
										 <div class="input-group">
											 <div class="input-group-prepend">
												 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Country</span>
											 </div>
											 <input type="text" class="form-control" id="validationCustomUsername" placeholder="pays..." aria-describedby="inputGroupPrepend" required>
											 <div class="invalid-feedback">
											    Please choose a username.
											 </div>
										  </div>
									</div>	
		  			   
							    </div>
							</div>
						</div>
									    
					</div>
								           
					<div class="card">
						
						<div class="card-header">
							<label for="inputState">Informations Détaillées</label>
						</div>
									    
						<div class="card-body">
							<div class="container">
								<div class="form-row">
								  	
									<div class="col-md-6 mb-6">
										<label for="validationCustomUsername">Username</label>
										<div class="input-group">
										
										     <div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Nombre pièces</span>
											 </div>
											 
							    			 <select class="custom-select mr-sm-2" id="inputEmail5">
												  <option selected>1</option>
												  <option value="1">2</option>
												  <option value="2">3</option>
												  <option value="3">...</option>			
											 </select>
															 
											 <div class="invalid-feedback">
												Please choose a username.
											 </div>
										</div>
									</div>
												
									<div class="col-md-6 mb-6">								    
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Nombre chambres</span>
											</div>
															
											<select class="custom-select mr-sm-2" id="inputEmail5">
												<option selected>1</option>
												<option value="1">2</option>
												<option value="2">3</option>
												<option value="3">...</option>
											</select>
															 
											<div class="invalid-feedback">
												Please choose a username.
											</div>
										</div>
									</div>
					  			   
								 </div><br>
								<div class="form-row">
											  	
								   <div class="col-md-6 mb-6">
										<label for="validationCustomUsername">Username</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Nombre de sallons</span>
											</div>
															
											<select class="custom-select mr-sm-2" id="inputEmail5">
												<option selected>1</option>
												<option value="1">2</option>
												<option value="2">3</option>
												<option value="3">...</option>
											</select>
															 
											<div class="invalid-feedback">
												Please choose a username.
											</div>
										</div>
									</div>
												
								   <div class="col-md-6 mb-6">
																		    
									  <div class="input-group">
										  <div class="input-group-prepend">
											  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Nombre cuisines</span>
										  </div>
															
										  <select class="custom-select mr-sm-2" id="inputEmail5">
											 <option selected>1</option>
											 <option value="1">2</option>
											 <option value="2">3</option>
											 <option value="3">...</option>
										  </select>
															 
										   <div class="invalid-feedback">
											  Please choose a username.
								        </div>
									  </div>
								   </div>
					  			   
								 </div><br>
								<div class="form-row">
											  	
									<div class="col-md-6 mb-6">
										 <label for="validationCustomUsername">Username</label>
										 <div class="input-group">
											  <div class="input-group-prepend">
												 <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Salle de bain</span>
											  </div>
															
											  <select class="custom-select mr-sm-2" id="inputEmail5">
												 <option selected>1</option>
												 <option value="1">2</option>
												 <option value="2">3</option>
												 <option value="3">...</option>
											  </select>
															 
											  <div class="invalid-feedback">
												  Please choose a username.
											  </div>
										 </div>
									 </div>
												
									<div class="col-md-6 mb-6">
																		    
										 <div class="input-group">
											 <div class="input-group-prepend">
												  <span class="input-group-text" id="inputGroupPrepend" for="validationCustomUsername">Surface M<sup>2</sup></span>
											 </div>
															
											<select class="custom-select mr-sm-2" id="inputEmail5">
											   <option selected>1</option>
											   <option value="1">2</option>
											   <option value="2">3</option>
											   <option value="3">...</option>
										   </select>
															 
											<div class="invalid-feedback">
												Please choose a username.
											</div>
										 </div>
								   </div>
					  			   
								</div><br>
								<div class="form-row">											  	
								   <div class="col-md-4 mb-4">
									  <div class="custom-control custom-switch">
										 <input type="checkbox" class="custom-control-input" id="customSwitch1">
										 <label class="custom-control-label" for="customSwitch1">Bien meublé</label>
									  </div>
								   </div>				 
																		
								  <div class="col-md-4 mb-4">
									 <div class="custom-control custom-switch">
										 <input type="checkbox" class="custom-control-input" id="customSwitch2">
										 <label class="custom-control-label" for="customSwitch2">Animaux acceptés</label>
									 </div>				 
								  </div>
												
								  <div class="col-md-4 mb-4">
																		    
									<div class="custom-control custom-switch">
										<input type="checkbox" class="custom-control-input" id="customSwitch3">
										<label class="custom-control-label" for="customSwitch3">Fumeurs acceptés</label>
									</div>
								  </div>
					  			   
						    </div>
						    </div>
						</div>
				   </div><br>
								       
					<!-- <div class="modal-footer">
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								<label class="form-check-label" for="invalidCheck">
									Accepter les termes et conditions
								</label>
								<div class="invalid-feedback">
									Accepter les termes et conditions
								</div>
							</div>
					  </div>
						<p><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit">
						<i class="fas fa-plus-square text-white-50 text-gray-100"></i> Entregistrer
						</button></p>
						<p><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="reset">
							<i class="fas fa-window-close text-white-50 text-gray-100"></i> Annuler
						</button></p>
				 </div> 
				 <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
		      				
		       </div>
		  </form>
		   -->